body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.stretch-container {
    overflow: hidden;
}

.stretch-image {
    transition: transform 0.3s ease;
    display: block;
}

.stretch-image:hover {
    transform: scale(1.2);
    /* Adjust the scale value as needed */
}