body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f8ff;
    /* Light blue background */
}

.ladybug {
    width: 20px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}