body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('imgs/iOSBackground.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.hero-section {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8);
    /* Optional: Add a background color to make the text more readable */
    border-bottom: 1px solid #ddd;
    /* Optional: Add a border for separation */
    width: 80%;
    /* Adjust width as needed */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
    z-index: 10;
    /* Ensure it's above other content */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1cm;
}

#portfolio {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Ensure it's below the hero section */
}

.icon {
    width: 10vw;
    /* Responsive width */
    height: 10vw;
    /* Maintain aspect ratio */
    max-width: 100px;
    /* Max size for large screens */
    max-height: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 22%;
    object-fit: cover;
}

.icon-container {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s ease;
    /* Smooth transition for animation */
}

.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 1.5vw;
    /* Responsive font size */
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

.icon-container:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);

}

.icon-container:hover {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
    scale: 1.2;

}

.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform 0.2s ease;
    z-index: 1000;
    display: none;
}

.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 10px;
    background-color: #3d3d3d3a;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    /* Higher than hero and portfolio */
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 700px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grayScale {

    -webkit-filter: grayscale(100%);
}

.modal-left {
    flex: 1;
    margin: 10px;
        padding: 0;
}

.modal-right {
    flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        /* Decrease this value to reduce the space further */
        /* Optional: Ensure no additional margin or padding is added */
        margin: 10px;
        padding: 0;
    /* Optional: Adds space between buttons and description */
}



#modalDescription {
    text-align: justify;
    font-style: italic;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}