body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgb(255, 145, 0), black);
    background-size: 400% 400%;
    animation: gradientMove 3s ease;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.progress-bar {
    width: 40%;
    background-image: linear-gradient(to right, #b1b1b100, #ffffffd4);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.progress {
    height: 5px;
    width: 0;
    background-image: linear-gradient(to right, #b1b1b100, rgba(255, 166, 0, 0.332), rgba(255, 166, 0, 0.63), orange);
    border-radius: 10px 0 0 10px;
    position: relative;
    /* Required for positioning the sparkles */
    overflow: hidden;
    /* Ensure sparkles stay within the progress bar */
    animation: fillProgress 3s forwards;
}



@keyframes fillProgress {
    to {
        width: 75%;
    }
}

.homeButton {
    background-color: rgba(255, 255, 255, 0.201);
    border-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 22px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.127);
}